// --------- FXNALITY ---------
@use "./_variables" as *;
@use "./_mixins" as *;
@use "./_fonts" as *;

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Scotiabank", "Frutiger Bold", "Arial", sans-serif;

}

h1 {
  color: #333;
  font-weight: 700;
  font-size: 36px;
}

h2 {
  color: #333;
  font-weight: 700;
  font-size: 24px;
}

h3 {
  color: #333;
  font-weight: 700;
  font-size: 20px;
}

h4 {
  color: #333;
  font-weight: 400;
  font-size: 18px;
}

p {
  color: #333;
  font-weight: 400;
  font-size: 16px;
}

a {
  color: #333;
  font-weight: 400;
  font-size: 14px;
  text-decoration: none;

  &:hover {
    color: #333;
  }
}

span {
  color: #333;
  font-weight: 400;
  font-size: 14px;
}

ul {
  list-style-type: none;
}