// ------------ BREAKPOINTS -------------
$tablet-breakpoint: 767px;
$desktop-breakpoint: 1280px;

// ------------- COLOURS ----------------

$primary-red: #ec111a;
$supporting-blue: #007eab;
$text: #333333;
$secondary-gray: #f5f6fc;
$tertiary-gray: #fafbfd;
