// ------------ BREAKPOINTS -------------
$tablet-breakpoint: 767px;
$desktop-breakpoint: 1280px;

// ------------- COLOURS ----------------

$primary-red: #EC111A;
$primary-white: #FFFFFF;
$supporting-blue: #007EAB;
$text: #333333;
$chatbot-black: #000000;
$chatbot-gray: #f9f9f9;
$chatbot-message: #e0e0e0;
$chatbot-border: #dcdcdc;
$secondary-gray: #F5F6FC;
$tertiary-gray: #FAFBFD;
