// ------------ BREAKPOINTS -------------
$tablet-breakpoint: 767px;
$desktop-breakpoint: 1280px;

// ------------- COLOURS ----------------

$prmary-red: #EC111A;
$primary-white: #FFFFFF;
$supporting-blue: #007EAB;
$text: #333333;
$secondary-gray: #F5F6FC;
$tertiary-gray: #FAFBFD;