@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/variables' as *;

.cta{
    background-color: $prmary-red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30%;
    margin-top: 1rem;

    &__image{
        width: 20%;
        height: 15%;
        padding: 1rem;
    }
    &__box{
        display: flex;
        flex-direction: column;
    }
    &__connect{
        font-size: 0.875rem;
    }
}