@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/_mixins" as *;
@use "../../styles/partials/_fonts" as *;

.chatbot-cta {
    position: fixed;
    bottom: 50%;
    right: 20px;
}
